<div class="row">
    <div class="col-sm-12">
        <table style="width: 100%;">
            <tr>
                <td> <h2>Select City</h2> </td>
                <td>
                    <button type="reset" class="btn btn-sm btn-danger" style="float: right;color: white;" mat-dialog-close>
                        <i class="fa fa-close"></i>
                        </button>
                </td>
            </tr>
        </table>
        </div>
</div>

        <div class="row" style="margin-top: 13px;">
            <div class="col-sm-12">
                <table style="width: 100%;">
                    <tr>
                      <td>
                        <button type="submit" mat-dialog-close (click)="showPage('Chennai')"
                        [routerLink]="['/booking']"  class="btn btn-block btn-primary active">
                          <i class="fa fa-map-marker"></i>
                          <span style="margin-left: 5px;">Chennai</span></button>
                      </td>
                      <td>
                        <button type="submit" mat-dialog-close (click)="showPage('Bengaluru')"
                         [routerLink]="['/booking']" class="btn btn-block btn-success">
                          <i class="fa fa-map-marker"></i>
                      <span style="margin-left: 5px;">Bengaluru</span></button>
                      </td>
                    </tr>
                  </table>
                </div>
                </div>
       
