<div style="background: url('assets/img/brand/background.jpeg');">
  
</div>

<!-- <div class="animated fadeIn">
   
    <div class="row">
        <div class="col-sm-12">
          <div class="card">
            <div class="card-header">
              <strong>Location</strong> 
            </div>
            <div class="card-body">
              <form action="" method="post" class="form-horizontal">
                <div class="row">
                <div class="form-group col-sm-4">
                    <label for="Drop_location">Location</label>
                    <select class="form-control" id="Drop_location" 
                    >
                    <option>Select One</option>
                      <option>Guindy</option>
                      <option>Adyar </option>
                      <option>Thiruvanmiyur </option>
                    </select>
                    
                  </div>
                  <div class="form-group col-sm-4">
                    <label for="Drop_TimeSlot">Time Slot</label>
                    <select class="form-control" id="Drop_TimeSlot" [(ngModel)]="mySelect1" 
                    >
                    <option>Select One</option>
                      <option>Early morning- From 8am to 5pm</option>
                      <option>Late Morning- From 10am to 7pm </option>
                      <option>Afternoon- From 3pm to 12pm </option>
                    </select>
                    
                  </div>
                </div>

                  
                  
                  
              </form>
            </div>
            <div class="card-footer">
                <table style="float: right;">
                    <tr>
                        <td>  <button type="submit" class="btn btn-sm btn-success" (click)="selectChange();"><i class="fa fa-dot-circle-o"></i> Submit</button></td>
                        <td>  <button type="reset" class="btn btn-sm btn-danger"><i class="fa fa-ban"></i> Cancel</button></td>
                    </tr>
                </table>
            
            
            </div>
          </div>
        </div>
      
      </div>
  </div>
   -->