
    <!-- <div class="row">
        
      <div class="col-sm-12">
        <form [formGroup]="CityForm" id="CityForm">
        <div class="card">
         
          <div class="card-body">
          
              <div class="row" style="height: 34px;">
             
                <div class="form-group col-sm-3" style="margin-top: -18px;">               
                  <mat-form-field class="example-full-width">
                    <mat-label>From date</mat-label>
                    <input matInput [matDatepicker]="picker"  formControlName="BookedFrom"
                    (dateInput)="addEvent($event)" (dateChange)="addEvent($event)">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                    <mat-error  *ngIf="formHasError('BookedFrom', 'required')">
                      Select From Date  is required
                    </mat-error>
                  </mat-form-field>
                </div>

                <div class="form-group col-sm-3" style="margin-top: -18px;">               
                  <mat-form-field class="example-full-width">
                    <mat-label>To date</mat-label>
                    <input matInput [matDatepicker]="picker1" formControlName="BookedTo"
                    (dateInput)="ToaddEvent($event)" (dateChange)="ToaddEvent($event)">
                    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                    <mat-datepicker #picker1></mat-datepicker>
                    <mat-error  *ngIf="formHasError('BookedTo', 'required')">
                      Select To Date  is required
                    </mat-error>
                  </mat-form-field>
                </div>

                <div class="form-group col-sm-3" style="margin-top: -18px;">     
                <mat-form-field class="example-full-width">
                  <mat-label>Time Slot</mat-label>
                  <mat-select  [(value)]="selected" 
                  (selectionChange)="GetTimeSlot($event.value)">
                    <mat-option>None</mat-option>
                    <mat-option *ngFor="let Timeslot of Timeslot_List" [value]="Timeslot">
                      {{ Timeslot }}
                    </mat-option>
                  </mat-select>
                 
                </mat-form-field>
                </div>

                <div class="form-group col-sm-3" style="margin-top: -18px;">     
                  <mat-form-field class="example-full-width">
                    <mat-label>Types</mat-label>
                    <mat-select  [(value)]="selected2" formControlName="BookingType">
                      <mat-option>None</mat-option>
                      <mat-option *ngFor="let Typeroom of TypeofMeeting_List" [value]="Typeroom">
                        {{ Typeroom }}
                      </mat-option>
                    </mat-select>
                    <mat-error  *ngIf="formHasError('BookingType', 'required')">
                      Select Type of Room  is required
                    </mat-error>
                  </mat-form-field>
                  </div>
                  
              </div>
            
          </div>
      
        </div>
      </form>
      </div>
    
    </div> -->

 

      <div class="row">
        <div class="col-sm-12">
          <div class="card" *ngFor="let item of LoadWorkSpaceByCity let i1 = index">
            <div class="card-header">
              <strong>View Seats</strong> 
            </div>
            <div class="card-body">
              <table style="width: 100%;line-height: 3;">
                <tr>
                    <td><i class="fa fa-map-marker"></i> City :<span style="color:#3f51b5"> {{item.City}}</span> </td>
                    <td> <i class="fa fa-map-marker"></i> Location :<span style="color:#ff4081"> {{item.Area}}</span> </td>
                    <!-- <td> <i class="fa fa-building-o"></i> Building :<span style="color:#3f51b5"> {{item.BuildingName}}</span> </td> -->

                     <td>
                      <button type="button" (click)="Show(item.CompId,item.LocId,i1);" class="btn btn-sm btn-info btn-pill" 
                     ><i class="fa fa-eye"></i> View Seats</button>
                     <!-- <table>
                       <tr>
                         <td><i class="fa fa-map-marker"></i> Available Cubicle :</td>
                         <td><span style="color:#3f51b5"> {{item.AvailableSeat}}</span></td>  
                       </tr>
                       <tr>
                        <td><i class="fa fa-map-marker"></i> Available Conference :</td>
                         <td><span style="color:#3f51b5">{{item.AvailableConference}} </span></td>         
                      </tr> 
                    
                      
                     </table>-->
                    
                    </td>
                </tr>
                <tr>
                     <td>Booked Seats :   
                        <img src="assets/img/brand/Bookedcabin.png" class="matero-branding-logo-expanded" alt="logo" width="30" height="20" /></td>
                      <td>| Available Seats: 
                        <img src="assets/img/brand/aa.png" class="matero-branding-logo-expanded" alt="logo" width="30" height="20" /></td>
                        <td>
                          <i class="fa fa-calendar-plus-o"></i> From-To Date : 
                           <span style="color:#3f51b5"> {{fromDate|date:'dd/MM/yyyy'}} {{BookFromTime}}-{{toDate|date:'dd/MM/yyyy'}} {{BookToTime}}</span>

                          <input class="form-check-input" type="checkbox" value="option1" id="checkbox1" style="margin-top: 19px;margin-left: 50px;">
                          <span style="margin-top: 6px;margin-left: 72px;color:#3f51b5">Car Parking  </span> 
                        </td>
                         
                </tr>
            </table>

           
            
               <br>
               <div class="row" *ngIf="flag==i1"  style="margin-left: 8px;width: 100%;
               overflow-x: auto;
               overflow-y: auto;">
                <div class="col-sm-12">
                  <table style="width: 100%;" class="table table-sm" >
                    <tr>
                        <td *ngFor="let name of ImageList let i = index"> 
                            <!-- <input class="form-check-input" type="radio" value="option1" id="i"
                             (change)="eventCheck(items.CubicleName,items.CubicleNo,i1)" style="margin-top: 12px;"> -->

                             <input type="checkbox" [name]="name.CubicleName" (change)="onChange($event,i,name.CubicleNo)" 
                             [disabled]="isChecked && (isCheckedName!=name.CubicleName)" *ngIf="BookingTypeS=='Cubicle' && name.AvailableStatus=='Available'">
                           

                             <input type="checkbox"  [disabled]="true" [name]="name.CubicleName"  *ngIf="BookingTypeS=='Cubicle' && name.AvailableStatus=='Booked'">
                             {{name.CubicleName}}

                           <img src="assets/img/brand/aa.png" *ngIf="BookingTypeS=='Cubicle' && name.AvailableStatus=='Available'" class="matero-branding-logo-expanded" alt="logo" width="75" height="60" /><br>
                           <img src="assets/img/brand/Bookedcabin.png" *ngIf="BookingTypeS=='Cubicle' && name.AvailableStatus=='Booked'" class="matero-branding-logo-expanded" alt="logo" width="75" height="60" /><br>

                           <img src="assets/img/brand/Conference.jpg" *ngIf="BookingTypeS=='Conference'" class="matero-branding-logo-expanded" alt="logo" width="75" height="60" /><br>
                                <!--  <h5 style="margin-left: 17px;color: gray;margin-top: 4px;">{{items.CubicleName}}</h5> -->
                            </td>
                            </tr>
                            </table>

                </div>
               </div>
            </div>
          </div>

                 <div>
                <table style="float: right;">
                    <tr>
                        <td>  <button type="submit" class="btn btn-sm btn-success" (click)="Post_Booking();"><i class="fa fa-dot-circle-o"></i> Submit</button></td>
                        <td>  <button type="submit" class="btn btn-sm btn-danger" (click)="PageRedirect();"><i class="fa fa-ban"></i> Cancel</button></td>
                    </tr>
                </table>
            
            
            </div>
        </div>
      </div>
      

  

