
<br>
<form class="form-horizontal form-material" [formGroup]="AddUserForm" id="AddUserForm">

<div class="parent">
  <div class="div1"><h2>Users List</h2> </div>
  <div class="div2">     <mat-form-field class="search-box">
    <mat-icon matSuffix >search</mat-icon>
<input matInput  type="text" placeholder="Search" [formControl]="searchText" autocomplete="off" matInput />
<!-- <i id="filtersubmit" class="fa fa-search"></i> -->
<button mat-button *ngIf="searchText.value" matSuffix mat-icon-button aria-label="Clear"
  (click)="searchText.patchValue('')" title="Clear">
  <mat-icon>close</mat-icon>
</button>
</mat-form-field> </div>
  <div class="div3"> 
    <!-- <button type="button" class="btn btn-success btncolor pull-right"  
                    [routerLink]="['/company-master/add-company/' + 0]">
                        <i class="fa fa-plus" title="Add"></i>
                    <a style="color:inherit;">
                      &nbsp;Company</a>
                  </button> -->
                 
                    <!-- <button type="button"  class="btn btn-block btn-success active" aria-pressed="true">
                        <i class="fa fa-plus" title="Add"></i>
                        <input type="file" #fileInput
                        (change)="onFileChange($event,fileInput)" /></button>
                        -->

                        <!-- <button class="file-upload-button">
                            <input type="file"
                            #fileInput
                            (change)="onFileChange($event,fileInput)"
                            />
                        </button>
                        <span class="file-info">{{ fileInfo }}</span> -->

                        <mat-form-field class="columns" style="width: 100%;">
                            <mat-label *ngIf="selectedFiles; else newFile">{{selectedFiles.item(0).name}}</mat-label>
                            <ng-template #newFile>
                                <mat-label>Excel Upload</mat-label>
                            </ng-template>
                            <input matInput disabled>
                            <button class="btn btn-block btn-success active" mat-icon-button matSuffix (click)="fileInput.click()">
                                <mat-icon>attach_file</mat-icon>
                            </button>
                            <input hidden (change)="onFileChange($event,fileInput)" #fileInput type="file" id="file">
                        </mat-form-field>
  </div>
  <div class="div4">
   </div>
  </div>



<br>
<div class="row" style="margin-top: -69px;">
<div class="col-12">
<div class="example-container">
<mat-table #table [dataSource]="dataSource" matSort class="table">


  <ng-container matColumnDef="UserCode">
    <mat-header-cell *matHeaderCellDef class="mat-header" fxFlex="20"> User Code</mat-header-cell>
    <mat-cell *matCellDef="let element" fxFlex="20"> {{element.UserCode}} </mat-cell>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="FullName">
    <mat-header-cell *matHeaderCellDef class="mat-header" fxFlex="20"> Name  </mat-header-cell>
    <mat-cell *matCellDef="let element" fxFlex="20">
    {{element.FullName}}  </mat-cell>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="ContactNo">
    <mat-header-cell *matHeaderCellDef class="mat-header" fxFlex="25"> ContactNo </mat-header-cell>
    <mat-cell *matCellDef="let element" fxFlex="25"> {{element.ContactNo}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="Gender">
    <mat-header-cell *matHeaderCellDef class="mat-header" fxFlex="10"> Gender </mat-header-cell>
    <mat-cell *matCellDef="let element" fxFlex="10"> {{element.Gender | titlecase }} </mat-cell>
  </ng-container>
  

  <ng-container matColumnDef="ManagerEmpCode">
    <mat-header-cell *matHeaderCellDef class="mat-header" fxFlex="13"> ManagerEmpCode </mat-header-cell>
    <mat-cell *matCellDef="let element" fxFlex="13"> {{element.ManagerEmpCode}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="HREmpCode">
    <mat-header-cell *matHeaderCellDef class="mat-header" fxFlex="10"> HREmpCode </mat-header-cell>
    <mat-cell *matCellDef="let element" fxFlex="10"> {{element.HREmpCode }} </mat-cell>
  </ng-container>


  <ng-container matColumnDef="Roles">
    <mat-header-cell *matHeaderCellDef class="mat-header" fxFlex="13"> Roles </mat-header-cell>
    <mat-cell *matCellDef="let element" fxFlex="13"> {{element.Roles}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="CreatedOn">
    <mat-header-cell *matHeaderCellDef class="mat-header" fxFlex="13"> CreatedOn </mat-header-cell>
    <mat-cell *matCellDef="let element" fxFlex="13"> {{element.CreatedOn  | date :'dd-MM-yyyy'}} </mat-cell>
  </ng-container>

  


  <!-- <ng-container matColumnDef="Actions">
    <mat-header-cell *matHeaderCellDef class="mat-header" fxFlex="10"> Action </mat-header-cell>
    <mat-cell *matCellDef="let element" fxFlex="10">
         <button mat-icon-button class="button_Edit" [routerLink]="['/add-user/' + element.UserId]">
        <i class="fa fa-edit color" title="Edit"></i>
         </button>&nbsp;&nbsp; </mat-cell>
  </ng-container> -->


  <mat-header-row *matHeaderRowDef="displayedColumns sticky: true"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>


<div class="text-center  equlist" *ngIf="this.CompanyCount===0" 
style="background: white;height: 35px;color:red">
<span>No Records Found...</span>
</div>
<mat-card *ngIf="isLoading" style="display: flex; justify-content: center; align-items: center;width: 100%;">
  <mat-progress-spinner 
    color="#06798cf0" 
    mode="indeterminate"
    diameter="30"
    strokeWidth="50">
  </mat-progress-spinner>
</mat-card>
</div>

</div>            
</div>
</form>
