<mat-card>
    <mat-card-title>Change Password</mat-card-title>
  
    <form [formGroup]="AddChangeForm" id="AddChangeForm" class="form-field-full">
      <div fxLayout="row wrap" fxLayoutGap="12px grid">
  
        <div fxFlex="50" fxFlex.lt-md="100">
          <mat-form-field>
            <mat-label>Username</mat-label>
            <input matInput placeholder="Username" formControlName="EmpCode" required readonly>
            <mat-error  *ngIf="formHasError('EmpCode', 'required')">
              User Name is required
            </mat-error>
          </mat-form-field>
        </div>  
  
        <div fxFlex="50" fxFlex.lt-md="100">
          <mat-form-field>
            <mat-label>New Password</mat-label>
            <input type="password" matInput placeholder="New Password" formControlName="newpassword" required autocomplete="off">
            <mat-error  *ngIf="formHasError('newpassword', 'required')">
              New Password is required
            </mat-error>
       
          </mat-form-field> 
        </div>
  
        <div fxFlex="50" fxFlex.lt-md="100">
            <mat-form-field>
              <mat-label>Confirm Password</mat-label>
              <input type="password" matInput placeholder="Confirm Password" formControlName="confirmpassword" required autocomplete="off"
              >
              <mat-error  *ngIf="formHasError('confirmpassword', 'required')">
                Confirm Password is required
              </mat-error>

              <!-- <mat-error *ngIf="AddChangeForm.controls['confirmPassword'].pristine || AddChangeForm.controls['confirmPassword'].errors?.MatchPassword">Mismatch Confirm Password</mat-error> -->
            </mat-form-field>
          </div>
     
      </div>
  
      <div fxLayout="row" fxLayoutAlign="end center">
        <!-- <button type="submit" color="primary" class="m-t-8" (click)="changePassword()">Save</button> -->
        <table>
          <tr>
            <td>
              <button type="submit" class="btn btn-success btncolor pull-right" style="margin-right: 10px;" 
              (click)="changePassword()">                                  
               Submit
            </button></td>
           
          </tr>
        </table>
       
      </div>
    </form>
  
  </mat-card>
  