<div style="margin-left: 25%">
    <div class="row">
      <div class="col-md-12">
        <h2>Are you sure want to delete?</h2>
       
      </div>
    </div>
    <mat-dialog-actions>
      <div class="row">
        <table style="width: 100%;margin-left: 59px;" class="pull-right"    >
          <tr>
            <td>
              <button type="submit" class="btn btn-success btncolor pull-right" (click)="deleteItem()">                                  
                <a style="color:inherit;">
                  &nbsp;Delete</a>
              </button> 
            </td>
            <td >
             

              <button type="button" style="margin-right: 10px;" class="btn btn-danger btncolor pull-right"  
              mat-dialog-close> Cancel                                     
              </button>
            </td>
          </tr>
        </table>
      </div>
    </mat-dialog-actions>
  </div>
  