h2{
    font-size: 18px;
    font-family: "Roboto", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}
.example-full-width {
    width: 100%;
  }
  .hidestxt
  {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .image{
    /* height:40em;  */
    background-size:cover;
    width:auto;
    background-image:url('assets/img/brand/city.jpg');
    background-position:50% 50%;
  }